asgiref == 3.3.1
autopep8 == 1.5.6
certifi == 2020.12.5
Django == 3.1.7
django-ckeditor == 6.0.0
django-cors-headers == 3.7.0
django-filter == 2.4.0
django-js-asset == 1.2.2
django-rest-framework == 0.1.0
django-utils-six == 2.0
djangorestframework == 3.12.4
Pillow == 8.1.2
pip == 21.0.1
pycodestyle == 2.7.0
pytz == 2021.1
setuptools == 52.0.0.post20210125
six == 1.15.0
sqlparse == 0.4.1
toml == 0.10.2
wheel == 0.36.2